<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="style/global/global.css" />
    <link rel="stylesheet" href="style/global/root.css" />
    <link rel="stylesheet" href="style/style.css" />

    <script src="script/script.js"></script>

    <title>Document</title>
  </head>
  <body>
    <!-- Code here... -->
    <h1 id="demo">Heading 1</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
      velit, perspiciatis blanditiis quibusdam quo autem repellat illum at alias
      quis expedita adipisci, incidunt delectus dolorum deleniti ea molestias
      rerum magnam!
    </p>
    <button onclick="example()">Button</button>
  </body>
</html>
