.expertise {
  height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  padding-top: 10rem;
}

/* heading */
.expertise :where(.heading1) {
  font-size: 70px;
  text-align: center;
  color: var(--red);
  font-style: italic;
}

/* skill list  */
.expertise :where(.skills-list) {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "box-1 box-2"
    "box-3 box-4";
  grid-gap: 1rem;
}
.expertise :where(.skills-list) li {
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: var(--bs-below);

  display: flex;
  flex-direction: column;
  transition: 0.1s ease-in-out;
}

/* children */
.expertise :where(.skills-list) li:nth-child(1) {
  grid-area: box-1;
}
.expertise :where(.skills-list) li:nth-child(2) {
  grid-area: box-2;
}
.expertise :where(.skills-list) li:nth-child(3) {
  grid-area: box-3;
}
.expertise :where(.skills-list) li:nth-child(4) {
  grid-area: box-4;
}

/* img */
.expertise :where(.skills-list) li:nth-child(1) img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  aspect-ratio: 3/2;
  width: 100%;
  object-fit: cover;

  filter: brightness(75%);
}
.expertise :where(.skills-list) li:nth-child(2) img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  aspect-ratio: 3/2;
  width: 100%;
  object-fit: cover;

  filter: brightness(75%);
}
.expertise :where(.skills-list) li:nth-child(3) img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  aspect-ratio: 3/2;
  width: 100%;
  object-fit: cover;

  filter: brightness(75%);
}
.expertise :where(.skills-list) li:nth-child(4) img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  aspect-ratio: 3/2;
  width: 100%;
  object-fit: cover;

  filter: brightness(75%);
}

/* hover  */
.expertise :where(.skills-list) li:hover {
  transform: translate(0, -5px);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);

  z-index: 999;
}
.expertise :where(.skills-list) li:hover img {
  filter: brightness(100%);
}

.expertise :where(.skills-list) li > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.expertise :where(.skill) {
  color: black;
}
.expertise :where(.description) {
  color: grey;
}

/* hover */
.expertise :where(.skills-list) li:hover .skill {
  color: var(--red);
}
.expertise :where(.skills-list) li:hover .description {
  color: black;
}

@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1024px) {
  .expertise :where(.skills-list) {
    grid-template-columns: repeat(2, 300px);
  }
}
@media screen and (max-width: 768px) {
  .expertise :where(.heading1) {
    font-size: 50px;
  }
}
@media screen and (max-width: 660px) {
  .expertise {
    padding-top: 10rem;
    justify-content: start;
  }

  .expertise :where(.skills-list) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
      "box-1" "box-2"
      "box-3" "box-4";
  }

  .expertise {
    height: fit-content;
  }
}
@media screen and (max-width: 425px) {
  .expertise :where(.heading1) {
    font-size: 30px;
  }
}
@media screen and (max-width: 375px) {
}
@media screen and (max-width: 320px) {
}
