.footer {
  height: 10vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
}

.footer :where(p) {
  color: grey;
}

@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 425px) {
}
@media screen and (max-width: 375px) {
}
@media screen and (max-width: 320px) {
}
