.header {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.header :where(.heading2) {
  font-size: 70px;
}

.header :where(.link) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;

  border: 1px solid var(--blue);
  color: var(--blue);
  padding: 1rem 2rem;
  border-radius: 0.5rem;

  transition: 0.1s ease-in-out;
}

.header :where(.link:hover) {
  background-color: var(--blue);
  color: white;
}

@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
  .header :where(.heading1) {
    font-size: unset;
  }
  .header :where(.heading2) {
    font-size: 30px;
  }
}
@media screen and (max-width: 425px) {
}
@media screen and (max-width: 375px) {
}
@media screen and (max-width: 320px) {
}
